@import "tailwindcss";

/* Use Inter as default */
:root {
  --font-sans: "Inter", ui-sans-serif, system-ui, -apple-system, "Helvetica Neue", Arial;
}
html, body, #root {
  height: 100%;
}
body {
  font-family: var(--font-sans);
  /* background: #FFFFFF; */
  /* background-color: linear-gradient(); */
  background: #F8F8FF;
  color: #252525;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* small helper for subtle blurred shapes */
.bg-blob {
  background: radial-gradient(closest-side, rgba(99,102,241,0.12), rgba(0,0,0,0) 60%);
  filter: blur(40px);
}

.projImg:hover {
  box-shadow: 0 14px 55px rgba(37, 37, 37, 0.35);
  transition: 200ms;
}